/*Maria Vidigal Barroso*/
body{  
    background-image: url('./img/fondo1.webp'); /*Fondo de la web*/ 
    background-size: cover; /*Hace que la imagen cubra todo*/
    background-repeat: no-repeat; /*Evita que la imagen de fondo se repita*/
}

nav{
    background-color: rgba(221, 216, 216, 0.377); /*Fondo de la barra de navegación*/
    padding: 2vh; /*Margen interno*/
}

.menu{
    list-style-type: none;/*Quiitar estilos a la lista del menu de navegacion*/
    padding: 0; /*Elimina el margen interior*/
    margin: 0; /*Elimina los márgenes*/
}

.menu li{
    display: inline-block; /*Mostrar elementos en linea*/
    margin-right: 3vw;/*Margen izquierdo*/
}

.menu a{
    text-decoration: none; /*Quitar subrayado*/
    color: #526450;/*Color de las letras*/
    padding: 10px 20px;/*Margen interno*/
    font-size: 1.2vw;
}

.menu a:hover{
    background-color: rgb(255, 255, 255);/*Color al pasar con el raton*/
}

.menu a.resaltar{
    background-color: rgb(255, 255, 255);/*Color para que se marque en la pagina que te encuentras*/
    font-size: 1.6vw;
} 

main{
    background-color: rgba(255, 255, 255, 0.295); /*Fondo de la caja principal*/
    padding: 2vh; /*Margen interno*/
    margin-top: 1vh; /*Margen superior*/
}

/*  INDEX.HTML   */

#contenedorUno{
    background-color: rgba(255, 255, 255, 0.733); /*Fondo de la caja de dentro de la principal*/
    padding: 4vh; /*Margen interno*/
    border-radius: 1vw; /*Borde redondeado*/
    margin-top: 1vh; /*Margen superior*/
}

img {
    /*Le he añadido un borde a todas las imagenes para que resalten mas*/
    border: 3px solid #333;
    border-radius: 5px; /*Borde redondeado*/
    padding: 0.5vh; /*Espacio entre la imagen y el borde*/
}

.imagenPrinc{
    width: 50vw; /*Ponerle un ancho a las imagenes que tengo en la pagina principal*/
    margin: auto; /*Margen automatico a los lados para que se centren las imagenes*/
    display: block; /*Hacen que las imagenes se comporten como un elemento en bloque para que funcionen los margenes*/
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.titulo{
    color: #526450;
    font-family:'Lucida Sans Regular'; /*Cambiar fuente*/
    font-size: 1.5vw; /*Cambiar tamaño*/
}

p{
    font-family: 'Times New Roman'; /*Cambiar fuente*/
    font-size: 1.2vw; /*Cambiar tamaño*/
    text-align: justify; /*Justificar el texto*/
    font-weight: normal;/*Asegura que los parrafos no se pongan en negrita*/
    color: black;
}

span{
    font-weight: bold;/*Texto en negria*/
    font-size: 1.3vw
}

.titLista{
    font-size: 1.4vw;
    font-weight: bold; /*Pone los titulos en negrita*/
    color: #435742;
}

/*  EJEMPLOS.HTML*/

.conteneIndv{
    background-color: rgba(255, 255, 255, 0.733); /*Fondos de los diferentes ejemplos*/
    padding: 1vh; /*Margen interno*/
    border-radius: 10px; /*Borde redondeado*/
    margin-top: 2vh; /*Margen superior*/
    height: 43vh;
}

.imgEjmplIzq{
    width: 28vw;
    float: left;/*Flota la imagen a la izquierda*/
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: -9vh;
}

.imgEjmplDer{
    width: 28vw;
    float: right;/*Flota la imagen a la derecha*/
    margin-right: 1vw;
    margin-left: 2vw;
    margin-top: -9vh;
}

h2{
    font-family:'Lucida Sans Regular'; /*Cambiar fuente*/
    font-size: 2vw; /*Cambiar tamaño*/
    color:#526450;
    text-transform: uppercase; /*Poner en mayúsculas todas las letras*/
   
}
.textoDer{
    margin-left: 31vw;
}

/*  CONSECUENCIAS.HTML  */

#contenido{
    background-color: rgba(255, 255, 255, 0.733); /*Fondo de la caja de dentro de la principal*/
    padding: 4vh; /*Margen interno*/
    border-radius: 1vw; /*Borde redondeado*/
    font-size: 2vh;
    color: #526450 ;
}

h1 {
    text-align: left; /*Posiciona el título principal a la izquierda */
    font-size: 2vw; /* Ajusta el tamaño de la fuente si es necesario */
    color: #435742; /* Color del texto del título principal */
}

ul {
    list-style-type: square; /*Cambia el punto de la lista a un cuadrado*/
    background-color: rgba(200, 200, 200, 0.5); /*Añade un fondo a la lista*/
    border-radius: 1vw; /*Borde redondeado para la lista*/
    margin: 2vh auto; /*Añade margen superior e inferior y centra horizontalmente*/
    width: fit-content; /*Ajusta el ancho al contenido*/
}

li {
    color: #526450;
    padding: 1vh 2vw; /*Añade padding a los elementos de la lista*/
}

li a {
    color: #435742;
    text-decoration: none;/*Quita el subrayado que traen por defecto los enlaces*/
    font-size: 1.5vw;
}

li a:hover {
    background-color: rgba(221, 216, 216, 0.377); /*Añade un fondo al pasar el ratón por encima*/
    color: #333; /*Cambia el color del texto al pasar el ratón por encima*/
}

h3{
    text-align: left;
    font-size: 1.8vw;
    color: #435742;
}

table{
    margin: 0 auto;
    width: 70vw;
    background-color:  rgba(255, 255, 255, 0.87);
    font-size: 1.3vw;
    margin-bottom: 3vh;
    text-align: center;/*Centrar el texto*/
    border-collapse: collapse;/*Elimina los espacios entre los bordes de la tabla*/
    border: 3px solid #333;
}

th{
    color: #435742;
}

th, td{
    padding: 2vh;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;/*Cuando pases el cursos sobre las filas se marque*/
}

/*Lo he utilizado para añadir estilos al primer elemento del th y del td*/
th:first-child,
td:first-child {
    background-color: #e0e0e0; /*Color de fondo diferente*/
    font-weight: bold; /*Texto en negrita*/
    color: #333; /*Color del texto*/
}

#subir {
    text-decoration: none;
    color: #435742;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 0.5vh 1vw; /*Añade margen interno*/
}

#subir:hover {
    background-color: #435742;
    color: white;
    border-radius: 2px;
    width: auto; /*Ajusta el ancho automáticamente*/
}

/*  PREOCUPACION.html  */
form {
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 2vh;
    border: 3px solid #333;
    border-radius: 5px; /*Borde redondeado*/
    margin: 0 auto; /*Centra el formulario horizontalmente*/
    font-size: 1vw;
}

legend {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Lucida Sans Regular';
    color: #435742;
    font-size: 25px;
    margin-bottom: 1vh; /*Añade un margen inferior*/
}

label {
    display: block;/*El elemento se comporta como un bloque*/
    font-size: 20px;
    margin: 1vh 0; /*Ajusta el margen*/
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%; /*Ajusta el ancho al 100% del contenedor*/
    padding: 0.5vh; /*Margen interno*/
    border: 1px solid #ccc; /*Añade un borde a la caja de texto*/
    border-radius: 4px; /*Borde redondeado*/
    font-size: 18px; /*Ajusta el tamaño de la fuente*/
}

textarea {
    height: 15vh;
}

input[type="submit"],
input[type="reset"] {
    padding: 1vh 2vw; /*Margen interno*/
    border: none; /*Elimina el borde predeterminado*/
    border-radius: 4px; /*Borde redondeado*/
    font-size: 18px; /*Ajusta el tamaño de la fuente*/
    margin-right: 1vw; /*Añade un margen derecho entre los botones*/
}

input[type="submit"] {
    background-color:#435742; /*Color de fondo para el botón de enviar*/
    color: white; /*Color del texto */
}

input[type="reset"] {
    background-color:#435742; /*Color de fondo para el botón de borrar*/
    color: white; /*Color del texto*/
}

