/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 150px; 
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; 
}


.nav-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.nav-menu li a:hover {
    background-color: #555;
}


.nav-menu li {
    width: 100px; 
    text-align: center;
}

.nav-menu {
    flex-wrap: wrap; 
}

.nav-menu li {
    flex: 1; 
    min-width: 100px; 
    text-align: center;
}
