body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
}

#nav {
    display: flex;
}

#logo img {
    width: 150px; 
}

.nav-menu {
    display: flex;  
    width: 1000px;
    list-style: none;
    border: 1px solid white;
}

.nav-menu li {
    margin-left: 20px;  
    flex-basis: 200px;
    flex-wrap: wrap;
    flex: 1;
    flex-shrink: 1;
}

.nav-menu li a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-menu li a:hover {
    background-color: #555;
}

a{
    padding: 10px;
    text-decoration: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}