body{
    width: 1260px;
    margin: 0;
    margin-top: 45px;
    border: solid 1px #000;
}

main{
    background-color: bisque;
    display: flow-root;/*Coge el tamaño del contenido*/
    margin-left: 1.58730%;/*20px = 20x100/1260 = 1.58730%*/
    margin-right: 1.58730%;/*20px = 20x100/1260 = 1.58730%*/
} 

/*Div izquierdo*/

#divIzq{
    width: 63.492%;/*800px = 800x100/1260 = 63.492%*/
    height: 370px;/*400px-30px padding*/
    background-color: rgb(121, 172, 172);
    float: left;
    padding-top: 30px;
    padding-right: 1.25%;/*10px = 10*100/800 = 1.25%*/
    padding-left: 1.25%;/*10px = 10*100/800 = 1.25%*/
}

p{
    text-align: justify;
}

form{
    margin-top: 4em;
    padding: 1em 1em 0 8.97%;/*70px padding left = 70*100/780 = 8.97%*/
    border: solid 1px #000;
}

input{
    display: block;
}

input[type="text"]{
    width: 62.82%;/*490px = 490*100/780 = 62.82%*/
    padding-left: 1.28%;/*10px = 10*100/780 = 1.28%*/
}

input[type="submit"]{
    width: 19.23076923%; /*150px = 150*100/780 = 19.23076923%*/
    height: 2em;/*Doble del tamaño de la letra*/
    background-color: #D8D8D8;
}

/*Div derecho*/

#divDer{
    width: 31,74603%;/*400px = 400*100/1260 = 31,74603%*/
    height: 400px;
    margin-left: 1,5873%; /*20px = 20*100/1260 = 1,5873%*/
    background-color: rgb(154, 170, 170);
    float: left;
}


footer{
    width: 100%; /*1260px = 100%*/
    height: 100px; 
    background-color: rgb(75, 150, 150);
    border-top: 1px solid #000;
    clear: both;
} 